<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Matrícula - Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Liter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Style.css">
    
</head>
<body>
    <div class="container">

        <div class="ident">
            <h1 class="nome">Bem vindo!</h1>
            <img src="https://i.pinimg.com/736x/1c/23/35/1c2335ec0a189439cddb0c8751c9144a.jpg" class="icon" alt="Foto">
        </div>

        <ul class="opc">
            <li><a href="Matricula.html">Matrícula</a></li>
            <li><a href="Cadastro.html">Cadastro</a></li>
            <li><a href="Mensagem.html">Mensagens</a></li>
            <li><a href="Agendamento.html">Agendamento</a></li>
        </ul>


        <div class="conteudo">
            <div class="texto-lateral">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="imagem-lateral">
                <img src="https://i.postimg.cc/vTV0JT2q/ba17e382162fecf776fdf972dd31cb63-removebg-preview.png" alt="Ilustração">
            </div>
        </div>

        <div class="texto-completo">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        </div>

    </div>
</body>
</html>
