<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Matrícula</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Liter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/Style.css">
</head>
<body>
<button class="btn-voltar" onclick="window.history.back()">←</button>
    <div>
    <div class="ident"> 
        <img src="https://i.pinimg.com/736x/1c/23/35/1c2335ec0a189439cddb0c8751c9144a.jpg" class="icon" alt="foto">
        <h1 class="nome"></h1>
    </div>
    <header>
    <h2 class="titulomat">Matrícula de aluno</h2>
    </header>
    <br><br><br>

    <div class="matricular">
        <!-- Foto Nome completo CPF E-mail Telefone Data de nascimento-->
         <form class="form" action="Cadastro.html" method="post">

        <div class="upload">
        <label class="label-custom" for="imagem-perfil">
            <span class="fotospan">Selecionar Foto</span>
             <input type="file" id="imagemaluno" accept="image/*" >
        </label>
        </div>
        <br><br>
        <div class="form-container">
            <div class="form-op">

                <div class="labels">
                <label for="name">Nome</label>
            <input type="text" id="name" name="nome" placeholder="Nome e sobrenome" minlength="15" maxlength="150" size="50" required>
                </div>    
                <div class="labels">
                <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" placeholder="12345678911" minlength="15" maxlength="11" size="20" required>
                </div>
                <div class="labels">
                <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="antonia12@gmail.com" maxlength="256" size="50" required>
                </div>
                <div class="labels">
                <label for="tel">Celular</label>
            <input type="tel" id="tel" name="tel" placeholder="12 34567891" maxlength="11" size="20" required>
                </div>
                <div class="labels">
                <label for="dat">Data de Nascimento</label>
            <input type="date" id="dat" name="dat" size="20" required>
                </div>
                <div class="labels">
    <p>Aluno já cadastrado? <a href="Cadastro.html">Matricular em uma Turma</a></p>
</div>
            </div>
        <div class="btn-mat">
        <input type="submit" class="btn-sbt">
        </div>
        </div>
        </form>
    </div>
</body>
